*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild


# get this files from Techmagic Private Keys repository
app/keys
app/fabric.properties
app/google-services.json
release.properties